<h1><%=@input[:name]%></h1>

<h2><%=@input[:motto]%></h2>

<%=@inpit[:members].each do|x|%>

<h2>Hero Name:<%=x[:name]%></h2>
<p>Hero Power:<%=x[:power]%></p>
<p>Hero Biography:<%=x[:biography]%></p>

<%=end%>